.body.about {
  min-width: 850px;
}

.content--about {
  padding-top: 50px !important;
  min-height: unset;
  margin-bottom: 70px;
}

#print-button {
   align-self: flex-end;
}

.resume {
  width: 100%;
}

#resume__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#resume__legal-name {
  font-family: var(--display-font);
  font-size: 2.1em;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: .1px;
}

#resume__expected-graduation {
  display: block;
  font-weight: 500;
  letter-spacing: -.04em;
}

#resume__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.3;
}

#resume__contact a {
  text-decoration: none;
}

#resume__contact #resume__email:before {
  content: "email: ";
  color: var(--text-color);
}

#resume__contact #resume__phone:before {
  content: "phone: ";
  color: var(--text-color);
}

#resume__contact #resume__website:before {
  content: "website: ";
  color: var(--text-color);
}

.resume .item__field--abbr {
  display: none;
}

.resume .item__field-item:after {
  content: ",";
}

.resume .item__field-item:last-of-type:after {
  content: "";
}

.resume .resume__section {
  margin-top: 10px;
}

.resume .section__heading {
  font-size: 108%;
  display: block;
  border-bottom: #000 1px solid;
  margin-bottom: 5px;
  font-weight: 600;
  width: 100%;
}
.resume .section__item {
  list-style: none;
  margin-bottom: 4px;
}

.resume #resume__skills .section__item {
  margin-bottom: 0;
}

.resume .item__heading {
  display: flex;
  font-weight: 500;
  flex-flow: row nowrap;
}

.resume .item__heading .item__field:nth-of-type(1) {
  min-width: 34ch;
}

.resume .item__heading .item__field:nth-of-type(2) {
  min-width: 29ch;
}

.resume #resume__section-work-experiences .item__heading .item__field:nth-of-type(2) {
  min-width: 20ch;
}


.resume .item__field {
  display: inline-block;
  white-space: nowrap;
}

.resume .item__field:last-of-type {
  width: 100%;
  text-align: right;
}

.resume .item__description {
  list-style-position: inside;
}

.resume .proficiency-scale {
  float: right;
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
}

.resume .proficiency-scale span {
  display: inline-block;
  margin-bottom: 0;
  line-height: 22px;
}

.resume .proficiency-scale span:last-of-type:before {
  margin-right: 6px;
}

.resume .prof-1,
.resume .prof-2,
.resume .prof-3,
.resume .prof-4 {
  white-space: nowrap;
}

.resume .prof-1:before,
.resume .prof-2:before,
.resume .prof-3:before,
.resume .prof-4:before {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 5px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.resume .prof-1:before {
  content: " ";
  background-color: #2F0DB6;
}

.resume .prof-2:before {
  content: " ";
  background-color: #416FE9;
}

.resume .prof-3:before {
  content: " ";
  background-color: #6EBAC4;
}

.resume .prof-4:before {
  content: " ";
  background-color: #BDF264;
}

@media (min-width: 1069px) {
  .resume {
    font-size: 13px;
  }
}

@media (max-width: 1068px) {
  .resume {
    font-size: 12px;
  }
  .content.content--about {
    padding-left: 30px;
    padding-right: 30px;
  }
}

