body {
  overflow-x: hidden; /* weird fix for the sticky header problem */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 48px;
  top: 0;
  z-index: 5;
  width: 100vw;
  box-sizing: border-box;
  font-size: 17px;
  user-select: none;
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__title {
  color: white;
  height: 100%;
  box-sizing: border-box;
  font-size: 18.5px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 .5rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__title * {
  color: white;
  text-decoration: none;
  letter-spacing: -.025em;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.header__site-logo-link--home {
  display: block;
}

.header__site-logo-link--toggle {
  display: none;
}

#header-menu__toggle {
  pointer-events: none;
}

.header__menu-icon {
  display: block;
  position: absolute;
  height: 37px;
  z-index: -4;
  transition: transform 0.42s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__menu-icon--shifted {
  transform: translateX(.5rem);
}

.header__site-logo-image {
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  border-radius: 50%;
}

.header-menu {
  display: flex;
  flex-direction: row;
}

.header-menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

.header-menu .header-menu__item {
  margin-left: 1rem;
  list-style: none;
  position: relative;
}

.header-menu__item > a {
  display: inline-block;
  color: white;
  padding: 0 .5rem;
  font-size: 15px;
  padding-top: 3px;
  line-height: 45px;
  text-decoration: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.header-menu .header-menu__item > a:hover {
  opacity: .65;
}

.header-menu .header-menu__item--dropdown {
  cursor: pointer;
}

.header-menu .header-menu__item--dropdown > a:after {
  display: inline-block;
  content: "▼";
  padding-left: 4px;
  color: white;
  transform: scale(.8, .4);
}

.header-menu .header-menu__item-menu {
  opacity: 0;
  display: none;
  position: absolute !important;
  top: 48px;
  background: rgba(0,0,0,0.8);
  /* left: 50%; */
  /* transform: translate(-50%); */
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: auto;
}

.header-menu .header-menu__item--dropdown:hover .header-menu__item-menu {
  opacity: 1;
  display: block;
}

.header-menu .header-menu__item-menu-item {
  list-style: none;
  font-size: 14px;
}

.header-menu .header-menu__item-menu-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  white-space: nowrap;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.header-menu .header-menu__item-menu-link:hover {
  opacity: .85;
  background-color: rgba(255, 255, 255, .1);
}

.header-menu--collapsable {
  display: flex;
  width: 70vw;
  box-sizing: border-box;
  position: fixed;
  z-index: -1;
  left: 0;
  opacity: 0;
  top: calc( 7vh + 48px );
  transition: opacity .42s;
}

.header-menu--collapsable .header-menu__item--dropdown > .header-menu__link {
  cursor: default;
  pointer-events: none;
}

.header-menu--collapsable li {
  list-style: none;
}

.header-menu--collapsable--active {
  opacity: 1;
}

.header-menu__list--collapsable {
  width: 100vw;
  box-sizing: border-box;
  padding: 10px 32px;
  margin: 0;
}

.header-menu--collapsable .header-menu__item {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.header-menu--collapsable .header-menu__link {
  font-weight: 800;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-menu--collapsable .header-menu__item-menu-link {
  font-size: 18px;
}

.header-menu--collapsable .header-menu__item--dropdown {
  cursor: pointer;
}

.header-menu--collapsable .header-menu__item--dropdown > a:after {
  display: inline-block;
  content: "▼";
  padding-left: 4px;
  color: white;
  transform-origin: center center;
  transform: scale(.8, .4);
}

.header-menu--collapsable .header-menu__item-menu {
  top: 48px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-menu--collapsable .header-menu__item-menu-link {
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  padding-left: 28px;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align: left;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.header-menu--collapsable .header-menu__link,
.header-menu--collapsable .header-menu__item-menu-link {
  color: rgba(255, 255 ,255, 1);
}

.header-menu--collapsable .header-menu__link:hover,
.header-menu--collapsable .header-menu__item-menu-link:hover {
  color: rgba(255, 255, 255, .6);
}

.container-tag {
  position: absolute;
  color: white;
  transform: translateY(-100%) translateX(4.5rem);
  letter-spacing: -.025em;
  font-size: 18.5px;
  transition: transform 0.42s var(--jerk-curve);
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.container-logo {
  height: 28px;
  fill: white;
}

@media (min-width: 1069px) {
  .container-tag {
    box-sizing: border-box;
    padding-left: calc(50vw - 490px + 0.5rem);
    padding-right: calc(50vw - 490px + 0.5rem);
  }

  .header {
    padding-left: calc(50vw - 490px + 0.5rem);
    padding-right: calc(50vw - 490px + 0.5rem);
  }
}

@media (max-width: 1068px) {
  .container-tag {
    box-sizing: border-box;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .header {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media (min-width: 736px) and (max-width: 1068px) {
  .jumbotron {
    height: 256px;
    background-position: center center;
    background-size: 100% auto;
  }
}

@media (min-width: 736px) {
  .header-menu--collapsable {
    display: none;
  }

  .header__menu-icon {
    display: none;
  }

  .container-tag {
    transform: translateY(-100%) translateX(3.5rem);
  }

  .header-menu__list {
    display: flex;
  }
}

@media (max-width: 735px) {
  .header {
    padding-left: 1rem;
  }

  body.home .header:hover {
    background-color: transparent;
  }

  .header__site-logo-link--home {
    display: none;
  }

  .header__site-logo-link--toggle {
    display: block;
  }

  #header-menu__toggle {
    pointer-events: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .container-tag {
    transform: translateY(-100%) translateX(4.5rem);
  }

  .header__site-logo-image {
    border: var(--backdrop-color) 2px solid;
    background-color: var(--backdrop-color);
  }

  .header-menu {
    display: none;
  }

  .header-menu--collapsable {
    display: flex;
  }

  .header-menu__list {
    display: none;
  }

  .header__title {
    padding-left: 1rem;
  }
}

@media (max-width: 420px) {

}

