<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="{{ "css/root.css" | relURL }}?v={{ .Site.Params.version }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?v={{ .Site.Params.version }}">
    <link rel="stylesheet" href="{{ "css/header.css" | relURL }}?v={{ .Site.Params.version }}">
    <link rel="stylesheet" href="{{ "css/article.css" | relURL }}?v={{ .Site.Params.version }}">
    <link rel="stylesheet" href="{{ "css/list.css" | relURL }}?v={{ .Site.Params.version }}">
    {{ block "links" . }} {{ end }}
    <link rel="stylesheet" href="{{ "css/responsive.css" | relURL }}?v={{ .Site.Params.version }}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Font Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet">
  </head>

  <body class="{{- block "type" . -}} {{- end -}}" style="--backdrop-color: {{ .Site.Params.themeColor }};">
    {{ partial "header.html" . }}
    <div class="container" id="container">
      <div class="container-tag">
      {{ with ($.Param "menuLogo") }}
        <img class="container-logo" src="{{ . }}" alt="{{ $.Section }}">
      {{ else }}
        <span class="container-title">
          {{- block "menu-title" . -}}
            {{- with ($.Param "menuTitle") -}}
              {{- . -}}
            {{- else -}}
              {{- $.Section | humanize -}}
            {{- end -}}
          {{- end -}}
        </span>
      {{ end }}
      </div>
      {{ block "body" . }} {{ end }}
    </div>
  </body>

  {{ partial "scripts.html" . }}

</html>
