<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$']],
    processEscapes: true,
    processEnvironments: true,
    tags: 'ams'
  },
  options: {
    skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<script>
(function() {
  var shifted = false;
  var triggerOffset = 0;
  var container = document.querySelector("#container");
  var toggle = document.querySelector("#header-menu__toggle");
  toggle.addEventListener("click", function toggleHeader() {
    var content = document.querySelector("#collapsable-menu");
    var menuIcon = document.querySelector("#header__menu-icon");
    var header = document.querySelector("#header");
    this.classList.toggle("header-menu__toggle--active");
    content.classList.toggle("header-menu--collapsable--active");
    header.classList.toggle("header--active");
    container.classList.toggle("container--shifted");
    menuIcon.classList.toggle("header__menu-icon--shifted");
    shifted = !shifted;
    if (shifted) {
      triggerOffset = window.pageYOffset;
    }
  });

  window.addEventListener('scroll', function scrollCloseTrigger() {
    if (shifted && Math.abs(window.pageYOffset - triggerOffset) > 10) {
      toggle.click();
    }
  });

  container.addEventListener("click", function containerClickTrigger() {
    if (shifted) {
      toggle.click();
    }
  });

  var collapsableMenuLinks = document.querySelectorAll(".header-menu__list--collapsable a");
  for (var i = 0; i < collapsableMenuLinks.length; i++) {
    collapsableMenuLinks[i].addEventListener("click", function(e) {
      toggle.click();
      return true;
    });
  }
})();
</script>

<script>
(function() {
  var proofExpandToggles = document.querySelectorAll(".proof__expand");
  proofExpandToggles.forEach(function(node) {
    node.addEventListener('click', function(e) {
      if (e.target.textContent == "[expand]") {
        e.target.textContent = "[collapse]";
      } else {
        e.target.textContent = "[expand]";
      }
      var proofContentNode = e.target.parentNode.parentNode.nextElementSibling;
      proofContentNode.classList.toggle("hide");
    });
  });
})();
</script>
