<div class="block block--green {{ with .Get "status" }}block--status{{ end }}">
  {{- with .Get "status" -}}<div class="block__status block__status--{{ . }}"></div>{{ end }}
  <span class="block__title block__title--green">Axioms
  {{- with .Get "name" -}}
  : <span class="keyword" id="{{ . | urlize }}">{{ . | title }}</span>
  {{ end }}
  </span>
  <div class="block__content block__content--green">
  {{ .Inner }}
  </div>

  <ul class="block__footer">
    <li class="block__footer-item">
      <a class="block__footer-link block__ask-question" href='mailto:{{ .Site.Params.email }}?subject=Hello! I have a question&body=Hi, I have a question about ...'>ask a question</a>
    </li>
    <li class="block__footer-item">
    <a class="block__footer-link block__error-report" href='mailto:{{ .Site.Params.email }}?subject=Hello! I found an error!&body=Hi, I found an error on page...'>report an error</a>
    </li>
  </ul>

  {{- with .Get "name" -}}
    <script>
      // Add keyword to the keywords dom
      (function() {
        var keywordListDOM = document.getElementById("page-navigation");
        var keywordDOM = document.getElementById({{ . | urlize }});
        var keywordItemDOM = document.createElement("li");
        keywordItemDOM.setAttribute("class", "navigation--side__item");
        var keywordLinkDOM = document.createElement("a");
        keywordLinkDOM.setAttribute("href", "#" + keywordDOM.id);
        var keywordIndexDOM = document.createElement("span");
        keywordIndexDOM.setAttribute("class", "navigation--side__index navigation--side__index--text");
        keywordIndexDOM.setAttribute("style", "color: var(--blue-text-color)");

        keywordsCounter += 1;
        keywordIndexDOM.innerHTML = "axm";
        keywordLinkDOM.appendChild(keywordIndexDOM);
        keywordLinkDOM.innerHTML += keywordDOM.innerHTML;
        keywordItemDOM.appendChild(keywordLinkDOM);
        keywordsCollector.push(keywordItemDOM);
      })();
    </script>
  {{- end -}}

</div>
