<div class="block block--green">
  <span class="block__title block__title--green">Lemma
  {{with .Get "index"}}
  {{ . }}
  {{- end -}}
  {{- with .Get "name" -}}
  : {{ . | title }}
  {{ end }}
  </span>
  <div class="block__content block__content--green">
  {{ .Inner }}
  </div>
  <ul class="block__footer">
    <li class="block__footer-item">
      <a class="block__footer-link block__ask-question" href='mailto:{{ .Site.Params.email }}?subject=Hello! I have a question&body=Hi, I have a question about ...'>ask a question</a>
    </li>
    <li class="block__footer-item">
    <a class="block__footer-link block__error-report" href='mailto:{{ .Site.Params.email }}?subject=Hello! I found an error!&body=Hi, I found an error on page...'>report an error</a>
    </li>
  </ul>
</div>
